<%- include('./parts/_header') %>
<%- include('./parts/_navbar') %>

<div class="flex-container flex-space-between content-container">
    <div>
        <h1>Objednávkový formulář</h1>
        <%- include('./parts/_orderForm') %>
    </div>
    <div id="home-offers">
        <%- include('./parts/_homeOffers') %>
    </div>
</div>

<%- include('./parts/scripts/_toast') %>
<%- include('./parts/_footer') %>